:root {
    --main-color: #E3F100;
    --secondary-color:rgb(153, 150, 0);
    --background-color: gainsboro;
    --font-color: #E3F100;
}

@font-face {
font-family: myFirstFont;
    src: url(/src/media/font.otf);
}

body, html, .app{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: myFirstFont;
}

body{
    background-color: black;
}

.app{
    position: fixed;
}

.apeCape{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image: url(/src/media/background.jpg);
    background-repeat: repeat;
    opacity: 0.5;
    z-index: -1;

}

.enterWrapper{    
    float: left;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 200px;
    
}

.enter{
    margin: 0;
    height: 70px;
    font-size: 50px;
    color: var(--font-color);
    text-decoration: var(--font-color) underline;
    cursor: pointer;
}

.skip{
    font-weight: lighter;
    color: var(--font-color);
    cursor: pointer;
}

.menu{
    float: left;
    width: 100%;
    border-bottom: 4px solid var(--main-color);
}

.menuItem{
    float: left;
    height: 100%;
    margin-left: 20px;
}

.menuItemTitle{
    float: left;
    width: 230px;
    height: 100%;
    margin-left: 20px;
}

.menuItemUser{
    float: right;
    height: 100%;
    margin-left: 20px;
}

.menuItemSeperator{
    float: left;
    height: 80px;
    width: 4px;
    margin-left: 20px;
    background-color: var(--main-color);
}

.user{
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    height: 100%;    
}

.userProfile{
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.userDetails{
    float: left;
    margin-top: -10px;
    width: calc(100% - 60px);
}

.userName{
    margin: 0;
    margin-top: 20px;
    width: 100%;
    color:var(--font-color);
}

.userLogout{
    margin: 0;
    margin-top: -10px;
    width: 100%;
    color: var(--font-color);
    cursor: pointer;
}

.slogan{
    margin-top: 30px;
    color: var(--font-color);
}

.logo{
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 12px;
}

.pageTitle{
    float: left;
    color: var(--font-color);
    font-weight: bolder;
    border-bottom: var(--main-color) 4px solid;
    margin-bottom: 2px;
    margin-left: 10px;
}

.content{    
    float: left;
    width: 100%;
    height: calc(100% - 100px);    
}

.miniMenu{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    width: calc(100% - 20px);
    cursor: pointer;
}

.miniMenuItem{
    float: right;
    color: var(--font-color);
}

.anExplanation{
    z-index: 99;
    position: absolute;
    right: 0;
    width: 600px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: black;
    opacity: 0.8;
    max-height: 700px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    padding: 20px;
    color: var(--font-color);
}


.anExplanation p{
    font-size: 20px;
    font-weight: lighter;
}

.anExplanation h2{
    border-bottom: 4px solid var(--font-color);
}

.intro{
    float: left;
    font-weight: bold;
    width: calc(100% - 400px);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 200px;
    font-size: 50px;
    color: var(--font-color);
}

.introVideo{    
    text-align: center;
    margin-left: calc((100% / 2) - 500px);
    width: 1000px;    
}

.video{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 90px;
    width: calc(100% - 40px);
    -webkit-box-shadow: 0px 0px 44px 9px #000000; 
    box-shadow: 0px 0px 44px 9px #000000;    
    border-radius: 5px;
}

.buttonWrapper{    
    float: left;
    font-weight: bold;
    width: calc(100% - 400px);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 200px;
    font-size: 50px;
    color: var(--font-color);
}

.button{
    margin-top: 80px;
    width: 400px;
    margin-left: calc((100% / 2) - 200px);
    margin-right: calc((100% / 2) - 200px);
}

.blockingUser{
    width: 100%;
    color: var(--font-color);
    text-align: center;
}

.link{
    color: var(--font-color);
    text-decoration: none;
    border-bottom: var(--main-color) 2px solid;

}

a{
    color: var(--font-color);
    text-decoration: none;
    border-bottom: var(--main-color) 2px solid;

}

.footer{
    float: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--font-color);
    text-align: center;
}

@media only screen and (max-width: 1150px) {

    .button{
        margin-top: 100px;
    }

    .menu{
        border: none;
    }

    .menuItemUser{
        width: 100%;
        border-top: 4px solid var(--font-color);
    }

    .user{
        float: left;
        width: 100%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        display: block;
        height: 80px;
    }

    .userProfile{
        float: left;
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
    }


    .userDetails{
        float: left;
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 4px solid var(--main-color);
    }

    .userName{
        float: left;
        margin: 0;
        margin-top: 5px;
        width: 100%;
        text-align: center;
    }   

    .userLogout{
        width: 100%;
        margin: 0;
        color: var(--font-color);
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    
    .miniMenu{
        display: none;
    }

    .introVideo{
        width: 700px;
        margin-left: calc((100% / 2) - 350px);
    }

}

@media only screen and (max-width: 900px) {


    .menuItemSeperator{
        display: none;
    }

    .menuItemTitle{
        margin: 0;
        margin-left: calc((100% / 2) - 112px);
        width: 224px;        
    }

    .menuItemUser{        
        border-top: none;
    }

    .menuItem{
        margin: 0;
        width: 100%;
        border-bottom: 4px solid var(--font-color);
    }

    .slogan{
        width: 100%;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

}



@media only screen and (max-width: 700px) {

    .introVideo{
        width: 500px;
        margin-left: calc((100% / 2) - 250px);
    }
}


@media only screen and (max-width: 500px) {

    .introVideo{
        width: 300px;
        margin-left: calc((100% / 2) - 150px);
    }


    .button{
        margin-top: 80px;
        width: 250px;
        margin-left: calc((100% / 2) - 125px);
        margin-right: calc((100% / 2) - 125px);
    }


}
