:root {
    --main-color: #E3F100;
    --secondary-color:rgb(153, 150, 0);
    --background-color: gainsboro;
    --font-color: #E3F100;
}

@font-face {
font-family: myFirstFont;
    src: url(/src/media/font.otf);
}

body, html, .app{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: myFirstFont;
}

body{
    background-color: black;
}

.app{
    position: fixed;
}

.apeCape{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image: url(/src/media/background.jpg);
    background-repeat: repeat;
    opacity: 0.8;
    z-index: -1;

}

.enterWrapper{    
    float: left;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 200px;
    
}

.enter{
    margin: 0;
    height: 70px;
    font-size: 50px;
    color: var(--font-color);
    text-decoration: var(--font-color) underline;
    cursor: pointer;
}

.skip{
    font-weight: lighter;
    color: var(--font-color);
    cursor: pointer;
}

.menu{
    float: left;
    width: 100%;
    height: 80px;
    border-bottom: 4px solid var(--main-color);
}

.menuItem{
    float: left;
    height: 100%;
    margin-left: 20px;
}

.menuItemSeperator{
    float: left;
    height: 100%;
    width: 4px;
    margin-left: 20px;
    background-color: var(--main-color);
}

.slogan{
    margin-top: 30px;
    color: var(--font-color);
}

.logo{
    float: left;
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 9px;
}

.pageTitle{
    color: var(--font-color);
    font-weight: bolder;
    border-bottom: var(--main-color) 4px solid;
}

.content{    
    margin-top: 80px;
    float: left;
    width: 100%;
    height: calc(100% - 100px);    
}

.intro{
    float: left;
    font-weight: bold;
    width: calc(100% - 400px);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 200px;
    font-size: 50px;
    color: var(--font-color);
}

.introVideo{    
    text-align: center;
    margin-left: calc((100% / 2) - 500px);
    width: 1000px;    
}

.video{
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    -webkit-box-shadow: 0px 0px 44px 9px #000000; 
    box-shadow: 0px 0px 44px 9px #000000;
}

.link{
    color: var(--font-color);
    text-decoration: none;
    border-bottom: var(--main-color) 2px solid;

}

.footer{
    float: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--font-color);
    text-align: center;
}


@media only screen and (max-width: 1200px) {
    .intro {
        margin: 80px;        
        width: calc(100% - 160px);
        padding-top: 50px;
    }

    .introVideo{
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        
    }
}

@media only screen and (max-width: 1000px) {
    .intro {
        margin: 20px;        
        width: calc(100% - 40px);
        padding-top: 50px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) {

    .menu{
        margin-top: -80px;
        border-bottom: none;
    }

    .menuItem{
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .menuItemSeperator{
        height: 0px;
        width: 2px;
    }    

    .logo{
        display: none;
        height: 0px;
    }

    .pageTitle{
        font-size: 50px;
        border-bottom: none;
    }
}